article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

* body {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 1.6;
    border-left: 7px solid #0A3A5E;
    border-right: 7px solid #0A3A5E;
    border-bottom: 7px solid #0A3A5E;
    color: white;
    background: linear-gradient(
    135deg,
    rgba(36, 46, 77, .9),
    rgba(137, 126, 121, .9)
  );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Spectral', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.about-me-page, .projects-page, .contact-page {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 6em;
}

.projects-page > main {
    padding-top: 0;
}

main {
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 2em;
    padding-top: 6.5em;
}

footer {
    border-top: 2px solid #0A3A5E;
    height: 10%;
    text-align: right;
    padding: 20px;
    color: white;
}

p {
    font-size: 16px;
}

h1, h2, h3, label {
    color: black;
}

h1, h2, h3, label, select, option, textarea, button, .dropdown > a {
    font-family: 'Spectral', serif;
}

label, select, option, button, .dropdown > a {
    font-weight: bold;
}

input, select, textarea {
    max-width: 80%;
}

textarea {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 550px) {
    
    .navbar {
        list-style-type: none;
        display: flex;
        flex-flow: row nowrap;
        margin-top: .6em;
    }
    
    .navbar > li > a {
        font-family: 'Spectral', serif;
        text-transform: uppercase;
        font-size: 20px;
        color: #0A3A5E;
        font-weight: bold;
        padding-left: 10px;
    }

    .navbar > li > a:hover {
        color: #915006;
    }

    .js-about {
        display: none;
    }
}

.container-3 {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: auto auto;
    justify-items: end;
}

.container-4 {
    display: none;
}


.container-2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 90vh;
}

.ratemusic, .spaced-repetition {
    width: 100%;
}

.menu-bar1.change {
    -webkit-transform: rotate(-45deg) translate(-9px, 7px);
    transform: rotate(-45deg) translate(-9px, 7px);
}

.menu-bar2.change {
    opacity: 0;
}

.menu-bar3.change {
    -webkit-transform: rotate(45deg) translate(-9px, -9px);
    transform: rotate(45deg) translate(-9px, -9px)
}

.main-page {
    height: 950px;
    border-top: 7px solid #0A3A5E;
}

.hero-text {
    text-align: center;
    width: 75%;
    color: white;
    font-family: 'Spectral', serif;
    margin: 0 auto;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.heading {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
}

.header-photo {
    border: 1px solid black;
    max-width: 55%;
    margin-bottom: 2em;

}

.center {
    text-align: center;
}

.icons {
    display: grid;
    align-items: center;
    padding: 3em 0;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3rem;
    width: 100%;
}

.icons > svg {
    margin: 0 auto;
}

@media only screen and (max-width: 465px) {
    .icons {
        grid-gap: .5rem;
    }
    .hero-text, .center.small {
        font-size: 22px;
    }
    .icons > svg {
        max-width: 40px;
    }
}

.technologies {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2em .5em;
    margin: 0 auto;
}

.technologies > svg {
    padding: .5em 0;
}

@media only screen and (max-width: 400px) {
    .technologies {
        flex-flow: column wrap;
        align-content: center;
    }
}

button {
    padding: .5em;
    border: 1px solid black;
    margin: 1em;
    box-shadow: 4px 4px #0A3A5E;
}

.js-submit-btn, .button {
    padding: 15px;
    background: #08415C;
    text-align: center;
    cursor: pointer;
    color: white;
}

.project-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.project-container > a {
    max-width: 75%;
}

.caption {
    margin: .5em;
    color: white;
}

.border-bottom {
    padding-bottom: .5em;
    border-bottom: 2px solid #0A3A5E;
}

.border-top {
    border-top: 2px solid #0A3A5E;
    padding-top: 1em;
}

.button-container {
    margin: 1em;
    text-align: center;
}

.padding-top {
    padding-top: 1em;
}

.logo-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

.logo-container > a > img {
    padding-right: 15px;
    width: 48px;
}

.about-me {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0 auto;
    color: white;
}

.contact-page {
    height: 900px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.small {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 1em;
}

.flex {
    height: 800px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.scroll-down {
    position: absolute;
	left: 50%;
	bottom: 10px;
	display: block;
	text-align: center;
	font-size: 24px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 4px solid rgb(222, 78, 0);
    border-right: 4px solid rgb(222, 78, 0);
    z-index: 9;
    left: 50%;
    cursor: pointer;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
        -webkit-animation: fade_move_down 4s ease-in-out infinite;
        -moz-animation:    fade_move_down 4s ease-in-out infinite;
        animation:         fade_move_down 4s ease-in-out infinite;
}

@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

@media only screen and (max-width: 550px) {
    .container.hidden {
        display: none;
    }
}

button {
    padding: 16px 24px;
    cursor: pointer;
    font-size: 18px;
}

.gmail {
    padding-top: 7px;
}

.centered {
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

.colored {
    color: rgba(255, 122, 50, 0.927);
    font-size: 1.75rem;
}

nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0A3A5E;
    overflow-x: hidden;
    padding-top: 60px;
    transition: .6s;
  }
  
  nav > a {
    padding: 8px 8px 8px 32px;
    color: #c2c2c2;
    font-size: 25px;
    display: block;
    transition : .3s;
  }
  
  nav a:hover {
    color: rgba(218, 98, 33, 0.927);
  }
  
  nav .closebtn {
    position: absolute;
    top: .125em;
    right: 0;
    margin-left: 50px;
    color: rgba(222, 78, 0, 0.927);
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    nav {padding-top: 15px;}
    nav a {font-size: 18px;}
  }
  
  .fa-bars {
    margin: .25em;
    color: rgba(222, 78, 0, 0.927);
    cursor: pointer;
    font-size: 40px;
  }

  .personal-logo {
    position: absolute;
    top: 5px;
    right: 20px;
  }

  .spaced-repetition-container {
      margin-top: 1em;
  }

  h1.center.small {
      color: white;
  }

  #technologies > h1.center.border-bottom {
      margin-top: 1em;
  }

  #technologies, section.projects {
      padding-top: 2em;
  }

  .about-me > button.content.js-about {
      margin-top: 14em;
  }

  .container.hidden > h1.programming-about {
      margin-top: 8em;
  }

  @media screen and (min-width: 1200px) {
      main {
          padding-top: 3em;
      }

      .header-photo {
          max-width: 45%;
      }
  }